# Jupyter

# Ignore all CSV files in notebooks/processed_yfinance/
notebooks/processed_yfinance/*.csv

# Ignore specific merged CSV
notebooks/merged_df.csv

**/*.csv
.ipynb_checkpoints/
*.ipynb

# Data files
*.csv
*.data
*.json
*.xlsx
*.db
*.parquet

# Python
__pycache__/
*.py[cod]